body{
    background-color: azure;
    margin: 20px;

}



.header ul,footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightsalmon;
  }
  
  li {
    float: left;
  }
  
  sub,li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

 .header ul li:last-child, .footer ul li:last-child{
     float: right;
     background-color:#111;
     right: 20%;

     
     
  }

  #copy{
      float: inline-start;
  }

  header{
      height: ;
  }
  .main{
    min-height: 500px;
    display: flex;
    flex-direction: row;
    clear: both;
    
  }
  footer{
      height: 10%;
  }
  
  #genre{
      width: 20%;
      margin-bottom: 40px;
      min-height: 100%;
  }

  #movies{
      width: 70%;
      min-height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      align-content: center;
      margin-bottom: 30px;
  }

  .genre{
    background-color: lightsalmon;
    
      margin-right: 30px;
      height: 100%;
      min-height: 100%;
      
      margin-bottom: 20px;
  }

  .genre p{
    position: sticky;
  }

  .movies-item{
      width: 500px;
      height: 500px;
      border: 2px solid gray;
      padding: 50px;
      display: flex;
      flex-direction: column;
      align-content: center;
      text-align: center;
      margin-top: 10px;
      
      overflow: auto;
  }

  .movie-img{
      width: 150px;
      height: 250px;
      
  }

  .m-title{
      background-color: lightsalmon;
      width: 100%;
  }

  .price{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }

  #contact{
    background-image:url("https://i1.wp.com/www.cinefilos.it/wp-content/uploads/2014/04/Rio-2-recensione.jpg") ;
    border: 2px solid red;
    padding: 200px;
    margin-left: ;
    width: 100%;
    max-height: 100%;
    
    MAX-width: 100%;
    background-size: contain;
    overflow: auto;
    opacity: 10;

  }

  #overlay{
    padding-left:400px;
    padding-top: 50px;
    background-color: antiquewhite; 
    max-width: 800px;
    scroll-padding-right: 400px;
    padding-bottom: 50px;
  }

table,th,tr ,td{
 background-color: antiquewhite;
 border: 2px solid black;
 border-collapse: collapse;
 padding: 20px;
 margin: 2px;

}

th{
  background-color: lightsalmon;
}



.genre{
  padding: 20px;
  background-color: white;
  
  
  
  left: 16px;
  font-size: 18px;
}

.genre > p{
  border: 3px solid black;
  box-shadow: 4px 4px 1px grey;
  padding: 10px;
  text-align: centre;
}

.genre > p:hover{
  border: 3px solid lime;
  box-shadow: 4px 4px 1px grey;
  background-color: cream;
  padding: 10px;
}
/*added genre styling*/


#payment {

width: 100%;
padding-left:200px;
    padding-top: 50px;
    background-color: antiquewhite;
    background-image: url('https://static.posters.cz/image/750/obrazy-na-platne/mimoni-ja-padouch-minion-wave-i34166.jpg') ;
   
    padding-bottom: 50px;

}

.items{
  border: 2px solid black;
  color: black;
  align-self: auto;
  width: 40%;
  margin: 30px;
  margin-top: 10px;
  padding: 50px;
  background-color: antiquewhite;
  
}

.items h3{
  background-color: lightsalmon;
  padding: 5px;
  text-align: center;
  border: 1px solid lightsalmon;
  border-radius: 30px;
}
.cont{
  border: 5px dashed lightsalmon;
  padding: 50px;
  background-image: url("http://static-1.ivoox.com/audios/9/1/4/9/9061562109419_XXL.jpg");
  font-size: 25px;



}
.intro{
  padding: 50px;
  text-align: center;
  background-image: url("http://giphygifs.s3.amazonaws.com/media/13bjQGtqxnZxxm/giphy.gif");
  opacity: 0.7;
  
}

.galary img{
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}